@media(max-width:1200px) {

  /* ==========================header======================== */
  .header__info {
    margin-bottom: 20px;
  }

  .header__info-inner {
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    grid-template-areas: 'btn btn info1 info1 info1 info1 info1 info2 info2 info2 info2 info2'
      'btn btn info3 info3 info3 info3 info3 info4 info4 info4 info4 info4';
    grid-gap: 10px;
  }

  .info1,
  .info2,
  .info3,
  .info4 {
    justify-self: center;
  }

  .header__nav {
    .container {
      grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
      grid-template-areas: 'logo'
        'navigation';
      grid-gap: 20px;
    }

  }

  .header__logo {
    justify-self: center;
  }

  .header__title {
    padding: 10px 15px 60px 15px;
  }


  /*========================== calculator========================== */
  select{
    margin-bottom: 10px;
  }
  .calculator__inner{
    justify-content: space-around;
  }
  .input__box-profile{
    display: block;
  }


  /* ==========================delivery======================== */
  .delivery {
    .container {
      padding: 0;
    }

    .form {
      width: 100%;
    }
  }

  .delivery__inner {
    justify-content: center;
  }

  .delivery-methods__inner {
    justify-content: center;
  }


  /* ==========================office========================== */
  .office__inner {
    justify-content: center;
  }


  /* ==========================news========================== */
  .news__inner {
    justify-content: center;
  }

  .news__item {
    margin: 0 50px 30px 50px;
  }


  /* ==========================form__down========================== */
  .form__down__wrap {
    .input__inner {
      flex-wrap: wrap;
      justify-content: center;
    }
  }


  /*========================== footer========================== */
  .footer__inner {
    flex-wrap: wrap;
    justify-content: center;

    .header__logo {
      margin: 0 30px 30px 0;
    }
  }

  .footer__item-link {
    margin-bottom: 20px;
  }

  .footer__link-box:first-child {
    margin-right: 35px;
  }

  .footer__item-box {
    margin-right: 30px;
  }
}




@media(max-width:992px) {

  /* ==========================header========================== */
  .mobile__burger-btn {
    display: block;
  }

  .header__info-link {
    display: none;
  }

  .bnt__box {
    justify-self: left;
  }

  .header__nav-list {
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    min-height: 100vh;
    padding: 0;
    position: relative;
    top: -17%;
    left: 110%;
    padding-top: 15px;
    transition: all 0.7s;
  }

  .active.header__nav-list {
    display: block;
    left: 20%;
    transition: 0.7s;
  }

  .header__title {
    font-size: 40px;
    line-height: 50px;
    padding: 10px 15px 60px 15px;
  }

  .header__form {
    flex-wrap: wrap;
    justify-content: center;

    .form {
      width: 100%;
      margin-bottom: 30px;
      min-height: auto;

      input {
        width: 30%;
      }

      textarea {
        width: 91%;
      }
    }

    .form__wrap {
      margin-bottom: 15px;
    }
  }


  /*========================== reviews ==========================*/
  .slick-prev {
    left: 20%;
  }

  .slick-next {
    right: 20%;
  }


  /* ==========================deliviry-methods ========================== */
  .delivery-methods__inner {
    margin-bottom: 40px;
  }

  .holder__section-title {
    font-size: 26px;
  }

  .holder__section-title {
    margin-bottom: 20px;
  }

  .work__result {
    padding: 20px 20px;
  }

  .holder__inner {
    justify-content: space-around;
  }

  .services {
    .holder__inner {
      grid-template-columns: repeat(auto-fill, 280px);
    }
  }

  /* ========================== footer========================== */
  .footer__inner {
    .header__logo {
      margin: 0 30px 15px 0;
    }
  }
}




@media(max-width: 768px) {

  /*========================== header========================== */
  .header__title {
    font-size: 32px;
    line-height: 35px;
  }

  .header__form {
    .form {
      input {
        width: 100%;
      }

      textarea {
        width: 100%;
      }

      .btn__form {
        width: 100%;
      }
    }
  }


  /* ========================== reasons ========================== */
  .reasons__inner {
    flex-direction: column;
  }

  .reasons__item {
    max-width: 100%;
  }

  .reasons__item:nth-child(odd),
  .reasons__item:nth-child(even) {
    text-align: center;
    margin: 0;
    margin-bottom: 30px;

    img {
      margin: 0;
    }
  }

  /* ==========================delivery-methods ========================== */
  .delivery-methods__item {
    width: 100%;
    margin-bottom: 30px;
  }
}




@media(max-width: 544px) {

  /* ==========================header========================== */
  .header__logo-title {
    font-size: 24px;
  }

  .header__info {
    margin-bottom: 0;
  }

  .header__title {
    font-size: 28px;
    padding: 10px 15px 45px 15px;
  }

  .form__title {
    padding: 10px;
  }

  .form__wrap {
    padding: 10px;
  }

  .ytp-cued-thumbnail-overlay-image {
    background-size: contain;
  }


  /* ==========================calculator========================== */
  .calculator__item{
    align-items: center;
    justify-content: center;
    flex: 0 0 100%;
  }
  select{
    max-width: 100%;
  }
  .input__box-profile{
    display: block;
    margin-right: 0;
  }
  .input_box{
    input{
      max-width: none;
      width: 100%;
    }
    span{
      display: none;
    }
    label{
      p{
        display: block;
        margin-bottom: 5px;
      }
    }
  }

  /*========================== global & holder ==========================*/
  .holder__item-title {
    margin-bottom: 5px;
  }
  .advantages,
  .delivery,
  .reasons,
  .reviews,
  .delivery-methods,
  .managers,
  .office,
  .work,
  .services,
  .news,
  .down {
    padding: 30px 0;
  }

  .holder__title {
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 30px;
  }

  .holder__subtitle {
    font-size: 16px;
    margin-bottom: 25px;
  }

  .holder__section-title {
    margin-bottom: 15px;
    font-size: 20px;
  }

  .holder__section-text {
    font-size: 14px;
    line-height: 22px;
  }

  .holder__section {
    min-height: 330px;
  }

  .holder__item {
    margin-bottom: 30px;
  }


  /* ==========================reasons ==========================*/
  .reasons__item {
    display: flex;
    flex-direction: column;

    img {
      order: -1;
    }
  }

  .reasons__item-box {
    margin-right: 0;
  }


  /*========================== delivery-methods========================== */
  .check__input {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .btn--check {
    width: 70%;
  }

  .delivery-methods__check {
    margin-bottom: 30px;
  }


  /* ========================== managers ========================== */
  .managers {
    .holder__title {
      margin-bottom: 10px;
    }
  }

  .office__inner-img {
    margin-bottom: 30px;
    max-width: 310px;
  }

  .work__result {
    p {
      font-size: 14px;
    }
  }

  .img__box {
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 290px;
    height: 160px;

    img {
      max-width: 290px;
    }
  }

  .news__item {
    margin: 0 0 30px 0;
  }

  .news__item-text {
    padding-left: 50px;
  }

  .news__item-title {
    padding-left: 60px;
  }

  .date {
    width: 50px;
    height: 50px;
    left: 0%;
    top: 34%;

    &::before {
      content: '';
      bottom: -200%;
    }
  }

  .form__down__wrap {
    padding: 15px 10px 10px 10px;

    input {
      width: 100%;
      margin: 0 0px 15px 0px;
    }

    textarea {
      width: 100%;
      margin: 0 0px 15px 0px;
    }

    .btn__form {
      width: 100%;
    }
  }

  .footer__inner {
    .header__logo {
      margin: 0px 0px 15px 0;
    }
  }

  .footer__item-link {
    justify-content: center;
    flex-direction: column;
  }

  .footer__link-box:first-child {
    margin-right: 0px;
  }

  .footer__item-box {
    margin-right: 10px;
  }
}