@import "libs";
@import "global";
@import "vars";

/* ===============================================HEADER=============================================== */
.header{
  background-image: url(../image/header/backgr.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  min-height: 790px;
  height: 100%;
  z-index: 2;
  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#414141, 0.4);
    z-index: 1;
  }
}
/* ======================HEADER__INFO==================== */
.header__info{
  @include headerInfoText;
  background-color: $accentDark;
  padding: 10px 0;
  min-height: 45px;
}
.bnt-translate{
  font-size: 14px;
  line-height: 18px;
  padding: 8px 15px;
  color: #fff;
  border: 1px solid #fff;
  text-transform: uppercase;
  background-color: transparent;
}
.header__info-inner{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  justify-content: space-between;
 grid-template-areas: 'btn btn info1 info1 info1 info2 info2 info2 info3 info3 info4 info4';
}
.bnt__box{
   grid-area: btn;
   justify-self: center;
}
.info1{
  grid-area: info1;
  justify-self: center;
  position: relative;
  &::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    transform: translateY(-50%);
    left: -25px;
    background-image: url(../image/header/icon01.png);
  }
}
.info2{
  grid-area: info2;
  justify-self: center;
  position: relative;
  &::before{
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
    transform: translateY(-50%);
    left: -25px;
    background-image: url(../image/header/icon02.png);
  }
}
.info3{
  grid-area: info3;
  justify-self: end;
  position: relative;
  margin-right: 20px;
  &::before{
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
    transform: translateY(-50%);
    left: -25px;
    background-image: url(../image/header/icon03.png);
  }
}
.info4{
  grid-area: info4;
  justify-self: end;
  position: relative;
  &::before{
    content: '';
    position: absolute;
    width: 16px;
    height: 11px;
    top: 50%;
    transform: translateY(-50%);
    left: -20px;
    background-image: url(../image/header/icon04.png);
  }
}

/* ======================HEADER NAV======================= */
.header__nav{
  padding: 15px 0;
  .container{
    display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-areas: 'logo logo logo logo navigation navigation navigation navigation navigation navigation navigation navigation';
  }
}
.header__logo{
  grid-area: logo;
  display: flex;
}
.header__logo-link{
  margin-right: 10px;
}
.header__nav-list{
  grid-area: navigation;
  a{
    @include headerNav;
  }
  display: flex;
  justify-content: space-between;
}
.header__logo-title{
  font-size: 27px;
  text-transform: uppercase;
  color: $whiteText;
}
.header__logo-subtitle{
  font-size: 12px;
  text-transform: uppercase;
  color: $whiteText;
}
.sub-menu{
  visibility: hidden;
  a{
    text-transform: unset;
  }
}
.header__nav-list{
  li{
    &:hover{
      .sub-menu{
        visibility: visible
      }
    }
  }
}
.header__title{
  font-size: 48px;
  line-height: 24px;
  text-transform: uppercase;
  padding: 60px 15px;
  text-align: center;
  color: $whiteText;
  position: relative;
  z-index: 3;
}
.header__form{
  display: flex;
  justify-content: space-between;
}
.form{
  width: 315px;
  min-height: 400px;
  background-color: $BGcolorForm;
  input{
    width: 100%;
    height: 50px;
    padding: 20px;
    margin-bottom: 7px;
    border: 1px solid #c1c4c7;
  }
  textarea{
    resize: none;
    width: 100%;
    border: 1px solid #c1c4c7;
    height: 60px;
    padding: 20px;
    margin-bottom: 20px;
  }
}
.form__title{
  text-align: center;
  background-color: $accentDark;
  padding: 20px;
  text-transform: uppercase;
}
.form__title-title{
  @include mediumText($fs:18px, $lh:23px, $fw:700, $color:#fff);
}
.form__title-subtitle{
  @include standartText($fs:14px, $lh:18px, $fw:400, $color:#fff);
  text-transform: uppercase;
}
.form__wrap{
  padding: 20px;
  text-align: center;
  margin-bottom: 40px;
}
.btn__form{
 @include btn;
 font-size: 14px;
 color: $whiteText;
 text-transform: uppercase;
 display: block;
 margin: 0 auto;
}



/* =========================================advantages========================================= */
.advantages{
  padding: 40px 0;
  background-color: $accentGray;
}
.holder__inner{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  justify-content: space-between;
  align-items: baseline;
}
.holder__item{
  text-align: center;
  margin-bottom: 40px;
  padding: 0 15px;
}
.holder__item-title {
 @include mediumText($fs:16px, $lh:23px, $fw:700, $color:#e93b3b);
 margin-bottom: 15px
}
.holder__item-text {
  color: $blackText;
}




/* =========================CALCULATOR========================= */
.calculator{
  @include paddingSection;
}



/* =========================DELIVIRY========================= */
.delivery{
  @include paddingSection;
  background-color: $accentGray;
  .container{
    padding: 0 68px;
  }
}
.holder__title{
 @include sectionTitle;
}
.holder__subtitle{
  @include sectionSubtitle;
  span{
    text-transform: uppercase;
  }
}
.form__box-title{
  text-align: center;
  img{
    width: 60px;
    height: 60px;
  }
}

.form__small-text{
  font-size: 12px;
}
.delivery{
  .form{
    background-color: #fff;
    .form__title{
      margin-bottom: 5px;
    }
  }
}
.delivery{
  .form{
    input[type = email]{
      margin-bottom: 15px;
    }
    .btn__form{
      margin-bottom: 15px;
    }
  }
}
.form__subtitle{
  @include mediumText;
  text-transform: uppercase;
}
.form__price{
  @include bigText($color:$btnColor);
}
.delivery__inner{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.delivery__item{
  padding: 0 10px;
}






/* =========================REASONS========================= */
.reasons{
  @include paddingSection;
  background-color: $accentGray;
}
.reasons__inner{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.reasons__item{
  display: flex;
  align-items: center;
  flex: 1 0 50%;
  max-width: 510px;
  width: 100%;
  margin-bottom: 60px;
}
.reasons__item-title {
  @include mediumText($fs:16px, $lh:23px, $fw:700, $color:#e93b3b);
 margin-bottom: 10px
}
.reasons__item-box{
  margin-right: 25px;
}

.reasons__item:nth-child(even){
    margin: 60px 0 0 0;
    text-align: left;
    img{
      margin-right: 10px;
    }
}
.reasons__item:nth-child(odd){
  text-align: right;
}




/* =========================REVIEWS========================= */
.reviews{
  @include paddingSection;
}
.slider__reviews{
  position: relative;
}
.slick-arrow{
  background-color: transparent;
  border: none;
  font-size: 0;
  width: 20px;
    height: 46px;
    position: absolute;
    z-index: 5;
    outline: none;
 
}
.slick-prev{
  position: absolute;
  left: 40%;
  top: 8%;
  background-image: url(../image/reviews/prev.png);
  background-repeat: no-repeat;
  
}
.slick-next{
  position: absolute;
  right: 40%;
  top: 8%;
  background-image: url(../image/reviews/next.png);
  background-repeat: no-repeat;
}

.reviews__item-circle{
  margin: 0 auto;
  width: 115px;
  height: 115px;
  border-radius: 50%;
}
.reviews__item-name {
  @include mediumText;
  text-align: center;
  margin-bottom: 20px;
}
.reviews__item-link {
  @include standartText ($color: $btnColor);
  text-align: center;
  display: block;
  margin-bottom: 15px;
  &:hover{
    text-decoration: underline;
  }
}
.reviews__item-text{
  margin-bottom: 20px;
}



/* ==============================delivery-methods============================== */
.delivery-methods{
  @include paddingSection;
  .holder__title{
    margin-bottom: 25px;
  }
}
.delivery-methods__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.delivery-methods__item{
  text-align: center;
  border: 1px solid #c4c7ca;
  width: 260px;
  min-height: 260px;
  height: 100%;
  margin: 0 10px 30px 10px;
}
.delivery-methods__item-box {
  padding: 25px 5px;
  background-color: $accentDark;
  margin-bottom: 20px;
}
.delivery-methods__item-title {
  @include mediumText($fs:18px, $lh:23px, $fw:700, $color:#fff);
  text-transform: uppercase;
}
.delivery-methods__item-icon {
  width: 60px;
  height: 60px;
}
.delivery-methods__item-days {
  @include bigText;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.btn__link {
 @include btnLink;
 margin-bottom: 20px;
  
}

.holder__circle--red{
  border-color: $btnColor;
  margin-bottom: 27px;
}
.delivery-methods__check{
  text-align: center;
  border-color: $btnColor;
  position: relative;
}
.check__input{
  width: 250px;
  padding: 20px;
  margin-right: 10px;
  margin-bottom: 40px;
}
.btn--check{
  position: absolute;
  bottom: -10%;
  left: 50%;
  transform: translateX(-50%);
}



/* ======================Managers====================== */
.managers {
  background-color: $accentGray;
  @include paddingSection;
}

.managers__inner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: baseline;
}
.managers__item {
  max-width: 360px;
  width: 100%;
  margin-top: 165px;
  width: 100%;
  position: relative;
  background-color: #fff;
  margin-right: 10px;
  margin-left: 10px;
  &:last-child{
    margin-bottom: 0px;
  }
}
.manager__circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  top: -135px;
  left: 50%;
  overflow: hidden;
  transform: translateX(-50%);
  img{
    width: 100%;
  }

}
.managers__decr {
  text-align: center;
  padding: 35px;
 
}
.managers__name {
  @include mediumText($color:$redText);
  margin-bottom: 10px;
  text-transform: uppercase;
}



/* ======================Office====================== */

.office{
  background-color: $accentGray;
  @include paddingSection;
}
.office__inner{
  display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.office__inner-img{
  margin-bottom: 35px;
  padding: 0 10px;
}



/* ======================Work====================== */
.work{
  @include paddingSection;
}
.work__result{
  border: 1px solid #000;
  padding: 45px 60px;
  text-align: center;
  p{
    @include mediumText;
  }
}


/* ======================Services====================== */
.services{
  background-color: $accentGray;
  @include paddingSection;
  .holder__inner{
    grid-template-columns: repeat(auto-fill,200px);
  }
  .holder__item-title {
    @include mediumText($color:$blackText);
    margin-bottom: 15px
   }
}



/* ======================News====================== */
.news {
  @include paddingSection;
  .btn__link{
    padding: 15px 40px;
    transform: translateX(-50%);
    position: relative;
    left: 50%;
  }
}

.news__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.news__item {
  max-width: 360px;
  position: relative;
  margin: 0 10px 35px 10px;
}
.img__box {
  max-width: 360px;
  height: 200px;
  background-color: $accentDark;
  margin-bottom: 20px;
}
.date {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 2%;
  top: 41%;
  &::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 80px;
    background-color: #c1c4c7;
    bottom: -150%;
  }

}
.day__number {
  @include mediumText($color:$redText);
}
.day {
  @include standartText($color:$redText);
}
.news__item-title {
  padding-left: 100px;
  @include mediumText($color:$redText);
  margin-bottom: 10px;
}
.news__item-text {
  padding-left: 100px;
}




/* ======================down====================== */
.down{
  background-image: url(../image/down/backg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  padding: 50px 0;
  position: relative;
  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0.5);
  }
}
.form__down {
  max-width: 900px;
  background-color: rgba(#fff, 0.5);
  margin: 0 auto;
}
.form__down-box {
  width: 100%;
  min-height: 70px;
  padding: 20px;
  background-color: $footerColor;
  text-align: center;
  text-transform: uppercase;
}
.down__box-title {
  @include mediumText($color:$whiteText);
}
.down__box-subtitle {
  @include standartText($fw:500,$color:$whiteText)
}
.form__down__wrap{
  padding: 15px 25px 30px 15px;
  input{
    width: 280px;
    height: 50px;
    border: 1px solid $accentGray;
    margin: 0 10px 15px 10px; 
   padding: 20px;
  }
  textarea{
    display: block;
    width: 98%;
    height: 65px;
    resize: none;
    border: 1px solid $accentGray;
    margin: 0 10px 15px 10px; 
   padding: 20px;
  }
}
.input__inner{
  display: flex;
  justify-content: space-between;
}



/* footer */
.footer{
  background-color: $footerColor;
  padding: 30px 0;
}
.footer__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.footer__item-box{
  width: 40px;
  height: 40px;
  border-radius: 2px;
  border: 1px solid #fff;
}
.footer__item{
  display: flex;
}
.footer__item-box{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  &:hover{
    background-color: rgba(#fff, 0.3);
  }
}

.footer__link{
  color: $whiteText;
  margin-bottom: 5px;
}
.footer__item-link{
  @include headerInfoText;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__link-box{
  display: flex;
  flex-direction: column;
  &:first-child{
    margin-right: 75px;
  }
  img{
    margin-right: 5px;
  }
}


/* mobile.menu */
.mobile__burger {
  display: none;
  position: relative;
  width: 30px;
  height: 30px;
  left: 96%;
  top: -57px;
  transform: translateX(-50%);
  cursor: pointer;
  z-index: 5;
}
.mobile__burger-btn {
  width: 30px;
  height: 3px;
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 0;
  border: none;
  outline: none;
  &::before{
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    top: 10px;
    left: 0;
    background-color: #fff;
  }
  &::after{
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    top: 20px;
    left: 0;
    background-color: #fff;
  } 
}



@import 'media';